/* COMMON(공통) */

body {
    color: #333; 
    font-size: 16px; /* 일반적으로 16px */
    font-weight: 400; /* 일반적으로 400 */
    line-height: 1.4; /* font-size 16px 기준 일반적으로 1.4 */
    font-family: 'Nanum Gothic', sans-serif;
    height: 6000px; /* 이후에 제거해도 됨. */
}

img {
    display: block; /* 인라인 요소에서 block 요소호, 즉 레이아웃 요소로 취급 */ 
}

a {
    text-decoration: none;
}

.inner {
    width: 1100px;
    margin: 0 auto;
    /* margin을 통해 inner 부분을 중앙으로 배치시켰다. */ 
    position: relative;
}

.btn { /* 우선순위 10점 */
    width: 130px;
    padding: 10px;
    border: 2px solid #333;
    border-radius: 4px;
    color: #333;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box; /* margin 미포함, padding, border 포함*/
    display: 'block';  /* 인라인 효과에 속성 추가 */
    transition: .4s; /* 전환효과를 0.4초 */
}

.btn:hover {
    background-color: #333;
    color:#fff;
}

.btn.btn--reverse { /* 앞 요소의 상태를 '--' 기호를 이용하여 명시한다. */
    /* btn의 상태가 reverse인 경우, 아래 속성을 적용한다. */
    /* 우선순위 20점, btn에서 덮어쓸 수 있다. */
    background-color: #333;
    color:#fff
}

.btn.btn--reverse:hover { /* 30점 */
    background-color: transparent; /* 투명 */
    color: #333;
}

.btn.btn--brown {
    color: #592B18;
    border-color: #592B18;
}

.btn.btn--brown:hover {
    color: #FFF;
    background-color: #592B18;
}

.btn.btn--gold {
    color: #D9AA8A;
    border-color: #D9AA8A;
}

.btn.btn--gold:hover {
    color: #FFF;
    background-color: #D9AA8A;
}

.btn.btn--white {
    color: #FFF;
    border-color: #FFF;
}

.btn.btn--white:hover {
    color: #333;
    background-color: #FFF;
}


/* BACK-TO-POSITION */

.back-to-position {
    opacity: 0;
    transition: 1s;
}

.back-to-position.to-right { /* 일치 선택자 */
    transform: translateX(-150px); /* x축으로 -150px만큼 이동 */
}

.back-to-position.to-left {
    transform: translateX(150px);
}

.show .back-to-position {
    opacity: 1;
    transform: translateX(0); /* show라면 원상태로 복귀한다. */
}

.show .back-to.position.delay-0 {
    transition-delay: 0s;
    /* 변환상태 시작 지연 시간 지정 */
}

.show .back-to.position.delay-1 {
    transition-delay: .3;
}

.show .back-to.position.delay-2 {
    transition-delay: .6;
}

.show .back-to.position.delay-3 {
    transition-delay: .9;
}


/* HEADER */
header {
    /* position: relative; */
    width: 100%;
    background-color: #f6f5f0;
    border-bottom: 1px solid #c8c8c8;
    position: fixed;
    /* absolute, fixed의 경우 가로를 최소화하려고 해서 너비를 %로 설정하는 게 좋다. */
    top: 0;
    z-index: 9;
}

header >.inner { /* header의 자식요소(>)인 inner 속성 */
    height: 120px; 
}

header .logo {
    height: 75px;
    position: absolute;
    top: 0;  
    bottom: 0;
    left: 0;
    margin: auto;
  /* 위에서 0지점, 아래에서 0지점인 곳에서 외부 여백이 자동이다. 
    이때, height 속성으로 요소의 크기를 확실히 해주어야 한다. 
    absolute는 relative를 가진 부모 요소의 위치를 기준으로 한다. */
}

header .sub-menu {
    position: absolute;
    top: 10px;
    right: 0;
    display: flex;
}

header .sub-menu ul.menu {
    display: flex;
}

header .sub-menu ul.menu li {
    font-family: Arial, sans-serif; /* Arial 폰트 사용, 없으면 sans 사용 */
    position: relative;
}

header .sub-menu ul.menu li::before { /* 메뉴간 구분선 */
    /* 가상 요소 선택자 ::before, 인라인 요소이다. */
    content: ""; /* 가상 요소 선택자 before 사용 시 필수 속성 content */
    width: 1px;
    height: 12px;
    background-color: #e5e5e5; /* 밝은 회색 */
    position: absolute; /* position: absolute를 사용하면 display가 자동으로 block으로 바뀐다.*/
    top: 0;
    bottom: 0;
    margin: auto; /* left, right의 0은 생략 가능 */
}

header .sub-menu ul.menu li:first-child::before { /* 가상 클래스 선택자 first-child */
    display: none;
}

header .sub-menu ul.menu li a {
    font-size: 12px;
    padding: 11px 16px; /* top, bottom / left, right */
    display: block; /* padding 설정을 위해 block 요소로 변경 */
    color: #656565;
}

header .sub-menu ul.menu li a:hover { 
    /* a태그의 가상 클래스 속성 'hover' 추가, 커서를 가져다 대면... */
    color: #000;
}

header .sub-menu .search {
    position: relative;
    height: 34px;
}

header .sub-menu .search input {
    width: 36px;
    height: 34px;
    padding: 4px 10px;
    border: 1px solid #ccc; /* 테두리선 */
    box-sizing: border-box; /* width와 height 기준 안쪽에 border 선을 위치시킨다. */
    border-radius: 5px;
    outline: none; /* 활성화시 아웃라인이 생기는 것을 방지한다. */ 
    background-color: #fff;
    color: #777;
    transition: width .4s; /* 전환효과 - 가로만, 0.4초동안 (0은 생략 가능)*/
}

header .sub-menu .search input:focus { /* input요소를 선택(focus)하면 */
    width: 190px;
    border-color: #669900;
}


header .sub-menu .search .material-icons {
    height: 24px; /* Google에서 제공하는 icon의 높이 기준 */
    position: absolute;
    top: 0;
    bottom: 0;
    right: 5px;
    margin: auto;
    transition: all .4s; /* all은 기본값이라서 생략 가능 */
}

header .sub-menu .search.focused .material-icons {
/* focused는 serach라는 class에 붙었다가 빠지기 때문에 '일치 선택자'로 붙여준다. */
    opacity: 0;
}

header .main-menu {
    display: flex;
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 1; /* 추루 드롭다운 메뉴가 아래 창을 덮을 수 있도록 z-index 조정 */
}

header .main-menu .item {

}

header .main-menu .item .item__name {
    padding: 10px 20px 34px 20px;
    font-family: Arial, sans-serif;
    font-size: 13px;
}

header .main-menu .item:hover .item__name { 
    /* item__contents도 있기 때문에 item 자체에 hover 입력 */
    background-color: #2c2a29;
    color: #669900;
    border-radius: 6px 6px 0 0;
}

header .main-menu .item .item__contents {
    width: 100%;
    position: fixed;
    left: 0;
    /* top이나 bottom 속성을 사용하지 않아 수직 위치 값이 없다면, 요소의 원래 위치를 그대로 사용한다.
    만약 position: absolute를 사용했다면 위치상 부모 요소를 기준으로 하므로
    화면의 뷰포트 좌우 끝까지 늘어날 수 없게 된다. */
    display: none;
}

header .main-menu .item:hover .item__contents {
    display: block;
}

header .main-menu .item .item__contents .contents__menu {
    background-color: #2c2a29;
}

header .main-menu .item .item__contents .contents__menu > ul { /* contents__menu 의 자식 태그인 ul */
    display: flex;
    padding: 20px 0; /* 드롭다운의 전체 리스트 위아래 20px 여백 */
}

header .main-menu .item .item__contents .contents__menu > ul > li { 
    width: 220px; /* 커피 - 에스프레소 음료 - ... 간 가로 거리 설정 */
}

header .main-menu .item .item__contents .contents__menu > ul > li > h4  { 
    padding: 3px 0 12px 0;
    font-size: 14px;
    color: #fff;
}

header .main-menu .item .item__contents .contents__menu > ul > li ul li { 
    padding: 5px 0;
    font-size: 12px;
    color: #999;
    cursor: pointer; /* 커서 시 마우스 포인터 형태 변경 */
}

header .main-menu .item .item__contents .contents__menu > ul > li ul li:hover {
    color: #669900;
}

header .main-menu .item .item__contents .contents__texture {
    padding: 26px 0;
    font-size: 12px; /* font-size는 상속이 된다. */
    background-image: url("../images/main_menu_pattern.jpg");
}

header .main-menu .item .item__contents .contents__texture h4 {
    color: #999;
    font-weight: 700;
}

header .main-menu .item .item__contents .contents__texture p {
    color: #669900;
    margin: 4px 0 14px; /* top / left, right / bottom */
    font-size: 12px;
}

header .badges {
    position: absolute;
    top: 123px;
    right: 12px;
}

header .badges .badge {
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 12px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, .15);
    /* x축 y축 blur spread color (0, 0, 0 은 블랙, .15는 투명도) */
    cursor: pointer;
}


/* VISUAL 영역 */
.visual {
    margin-top: 120px; /* header가 120px임. */
    background-image: url("../images/visual_bg.jpg");
    background-position: center;
}

.visual .inner { /* .inner는 이미 위쪽에 지정되어있는 속성이 있어서 여기서는 크게 지정 안함. */
    height: 646px;
}

.visual .title { /* .inner는 정렬을 해주는 역할만 있을 뿐 visual class와 직접적으로
    연관이 없기 때문에 생략하였다. (원래는 .inner .title) */
    position: absolute; /* 부모는 inner */
    top: 88px;
    left: -10px;
}

.visual .title .btn {
    position: absolute; /* 부모요소는 title */ 
    top:259px;
    left: 173px; 
}

.visual .cup1.image { /* 일치 선택자 cup1 class이면서 image 요소인 것 */
    position: absolute;
    bottom: 0;
    right: -47px;
}

.visual .cup1.text {
    position: absolute;
    top: 38px;
    right: 171px;
}

.visual .cup2.image {
    position: absolute;
    bottom: 0;
    right: 162px;
}

.visual .cup2.text {
    position: absolute;
    top: 321px;
    right: 416px;
}

.visual .spoon {
    position: absolute;
    bottom: 0;
    left: 275px;
}

.visual .fade-in {
    opacity: 0;
}


/* NOTICE */

.notice {

}

.notice .notice-line {
    position: relative;
}

.notice .notice-line .bg-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #333;
}

.notice .notice-line .bg-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: #f6f5ef;
}

.notice .notice-line .inner {
    height: 62px; 
    /* 부모 요소 notice-line의 position relative로, 세로로 최대한 줄어들려고 한다.
    bg-right와 bg-left의 height이 100%이기 때문에 200px 그대로 늘어나는 것이다.
    이처럼 요소 간 상호작용에 주의해야 한다. */
    display: flex; /* 자식 요소들이 수평이 된다. */
}

.notice .notice-line .inner__left {
    width: 60%;
    height: 100%;
    background-color: #333;
    display: flex;
    align-items: center;
}

.notice .notice-line .inner__left h2{
    color: #FFF;
    font-size: 17px;
    font-weight: 700;
    margin-right: 20px;
}

.notice .notice-line .inner__left .swiper {
    flex-grow: 1; 
    /* 부모요소가 display: flex이기 때문에 가로로 최대한 줄어들으려 한다.
    높이값은 최대한 늘어나려고 한다. 
    flex-grow를 1로 설정하면 가로 너비를 최대로 늘린다. */
    height: 62px;
    /* inner__left에서 align-items를 center로 설정하면서 높이가 사라졌다. */
}

.notice .notice-line .inner__left .swiper .swiper-slide {
   height: 62px;
   display: flex;
   align-items: center;
}

.notice .notice-line .inner__left .swiper .swiper-slide a {
   color: #fff;
}

.notice .notice-line .inner__left .notice-line__more {
    width: 62px;
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notice .notice-line .inner__left .notice-line__more .material-icons {
    color: #fff;
    font-size: 30px; /* icon의 기본 사이즈는 24px이다. */
}

.notice .notice-line .inner__right {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: flex-end; /* 수평 정렬 */
    align-items: center; /* 수직 정렬 */
}

.notice .notice-line .inner__right h2{
    font-size: 17px;
    font-weight: 700;
}

.notice .notice-line .inner__right h2 .toggle-promotion {
    width: 62px;
    height: 62px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notice .notice-line .inner__right h2 .toggle-promotion .material-icons {
    font-size: 30px;
}

.notice .promotion {
    position: relative;
    height: 693px;
    background-color: #f6f5ef;
    transition: height .4s; /* 해당 속성에 대해 0.4초동안 속성 추가 */
    overflow: hidden; /* 영역을 벗어나는 것에 대해 숨긴다. */
}

.notice .promotion.hide { /* 일치선택자, 'promotion hide'로 붙어있기 때문이다. */
    height: 0; /* hide가 붙어있는 경우 높이를 0으로 축소 */
}

.notice .promotion .swiper {
    width: calc(819px * 3 + 20px); 
    /* 자동으로 계산해주는 css 함수, 
    819px씩 3개를 20px 간격으로 해서 가로너비 계산 */
    height: 553px;
    position: absolute;
    top: 40px;
    left: 50%; /* 왼쪽으로 50%가량 이동 후 시작 */
    margin-left: calc((819px * 3 + 20px) / -2 );
    /* 다시 외부여백을 전체 페이지의 절반만큼 땡겨서 
    확대해봐도 해당 요소가 중앙을 기준선으로 강조되도록 한다. */
}

.notice .promotion .swiper-slide {
    opacity: .5; /* 기본 투명도를 0.5로 */
    transition: opacity 1s; /* 1초동안 opacity를 자연스럽게 바꾼다. */
    position: relative; 
}

.notice .promotion .swiper-slide-active {
    opacity: 1; /* 중앙 포커스 시에만 1로 */
}

.notice .promotion .swiper-slide .btn {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; 
    /* 요소의 가로 너비가 있어야 auto 계산 가능 
    그러나 btn css에 버튼 자체의 가로 너비가 지정이 되어있음. */
}

.notice .promotion .swiper-pagination {
    bottom: 40px;
    left: 0;
    right: 0;
} /* pagination에는 이미 javascript에서 제공하는 position 값이 들어있기 때문에
일반 위치 값만 입력해도 가능하다. */

.notice .promotion .swiper-pagination .swiper-pagination-bullet { 
    background-color: transparent; /*background-image가 보이도록 배경 투명으로 지정 */ 
    /* 개발자 도구로 확인한 pagination 내부의 bullet 요소 (점들) */
    background-image: url("../images/promotion_slide_pager.png");
    width: 12px;
    height: 12px;
    margin-right: 6px; /* bullet 요소들 사이사이에 여백 추가 */
    outline: none; /* 기본 속성인 파란 테두리선을 제거하기 위한 none */
}

.notice .promotion .swiper-pagination .swiper-pagination-bullet:last-child { 
    /* 가장 마지막 요소는 margin-right: 6px; 즉, 오른쪽 여백이 필요없다. */
    margin-right: 0; 
}

.notice .promotion .swiper-pagination .swiper-pagination-bullet-active { 
    background-image: url("../images/promotion_slide_pager_on.png");
}

.notice .promotion .swiper-prev,
.notice .promotion .swiper-next { /* 다중 선택자는 줄바꿈을 해주는 것이 좋다. */
    width: 42px;
    height: 42px;
    border: 2px solid #333;
    border-radius: 50%;
    position: absolute;
    top: 300px;
    z-index: 1; /* 슬라이드보다 위에 쌓이도록 z-index 설정 */
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s; /* 아래 hover에 대한 전환 효과 */ 
}

.notice .promotion .swiper-prev{
    left: 50%;
    margin-left: -480px;
}

.notice .promotion .swiper-next {
    right: 50%;
    margin-right: -480px;
}

.notice .promotion .swiper-prev:hover,
.notice .promotion .swiper-prev:hover {
    background-color: #333;
    color: #fff;
}


/* REWARDS */
.rewards {
    position: relative;
}

.rewards .bg-left {
    width: 50%;
    height: 100%;
    background-color: #272727;
    position: absolute;
    top: 0;
    left: 0;
}

.rewards .bg-right {
    width: 50%;
    height: 100%;
    background-color: #d5c798;
    position: absolute;
    top: 0;
    right: 0;
}

.rewards .inner { /* inner에 position: relative가 이미 추가되어 있다. */ 
    background-image: url("../images/rewards.jpg");
    height: 241px;
}

.rewards .btn-group {
    position: absolute;
    bottom: 24px;
    right: 0;
    width: 250px;
    display: flex;
    flex-wrap: wrap; 
    /* 정렬된 요소들의 총 넓이가 부모 넓이보다 클 때, 이 요소들을 다음 줄에 이어서 정렬 해주는 기능이다. */
}

.rewards .btn-group .btn.sign-up {
    margin-right: 10px;
}

.rewards .btn-group .btn.sign-in {
    width: 100px;
}

.rewards .btn-group .btn.gift {
    margin-top: 10px;
    flex-grow: 1; /* 최대한의 너비를 사용한다. */
}


/* YOUTUBE VIDEO */

.youtube {
    position: relative;
    height: 700px;
    background-color: #333;
    overflow: hidden;
}

.youtube .youtube__area {
    width: 1920px;
    background-color: orange;
    position: absolute;
    left: 50%;
    margin-left: calc(1920px / -2);
    top: 50%;
    margin-top: calc(1920px * 9 / 16 / -2); 
    /* 세로 너비를 16:9 비율로 한 후 -2로 나누어 youtube 영역의 정확한 절반에 위치하도록 한다. */
}

.youtube .youtube__area::before {
    content: "";
    display: block; /* 가로 너비, 세로 너비를 가지기 위하여 block 요소로 변환 */
    width: 100%;
    height: 0;
    padding-top: 56.25%; 
}

.youtube .youtube__cover { 
    /* 출력되는 영샹을 위해 커버를 덮는 기능 */
    background-image: url("../images/video_cover_pattern.png");
    background-color: rgba(0, 0, 0, .3); /* 30%의 투명도를 가진 검정색 */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#player {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.youtube .inner {
    height: 700px;
}

.youtube .floating1 {
    position: absolute;
    top: 50px;
    left: 0;
}

.youtube .floating2 {
    position: absolute;
    top: 350px;
    left: 150px;
}

/* SEASON Product */

.season-product {
    background-image: url("../images/season_product_bg.jpg");
}

.season-product .inner {
    height: 400px;
}

.season-product .floating3 {
    position: absolute;
    top: -200px;
    right: 0;
    /* .youtube 속성의 overflow:hidden 때문에 범위 밖 이미지가 잘리고 있다. */
}


.season-product .text-group {
    position: absolute;
    top: 110px;
    right: 100px;
}

.season-product .text-group .title {
    margin-bottom: 10px;
}

.season-product .text-group .description {
    margin-bottom: 15px;
}

.season-product .text-group .more {
    
}


/* RESERVE COFFEE */
.reserve-coffee {
    background-image: url("../images/reserve_bg.jpg");
}

.reserve-coffee .inner {
    height: 400px;
}

.reserve-coffee .reserve-logo {
    position: absolute;
    top: 110px;
    left: 0;
}

.reserve-coffee .text-group {
    position: absolute;
    top: 124px;
    left: 208px;
}

.reserve-coffee .product {
    position: absolute;
    top: 0;
    right: 0;
}



/* PICK YOUR FAVORITE */

/* 아래와 같이 뷰포트에 고정되어 시간차로 이미지가 보이는 것을 패럴렉스라고 한다. 
Parallax Scroll */
.pick-your-favorite {
    background-image: url("../images/favorite_bg.jpg");
    background-repeat: no-repeat;
    /* 이미지를 반복하지 않는다. */
    background-position: center;
    /* 포지션을 센터로 고정한다. */
    background-attachment: fixed;
    /* 화면을 스크롤 할 때 이미지가 스크롤 되지 않고 고정한다. */
    background-size: cover;
    /* 배경의 이미지를 요소의 더 넓은 너비에 맞춰서 출력한다. 
    `background-attachment`가 'fixed'이기 때문에, 
    뷰포트 크기에 맞춰서 최대로 출력한다. */
}

.pick-your-favorite .inner {
    padding: 110px 0;
}

.pick-your-favorite .text-group {
    width: 362px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-left: 100px;
    /* 우측으로 정렬 */ 
}

.pick-your-favorite .text-group .title {
    margin-bottom: 40px;
}

.pick-your-favorite .text-group .description {
    margin-bottom: 40px;
}



/* RESERVE STORE */
.reserve-store {
    background-image: url("../images/reserve_store_bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.reserve-store .inner {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reserve-store .medal {
    width: 334px;
    height: 334px;
    /* hover가 적용되기 때문에 가로 세로 길이 지정 */
    perspective: 600px; /* 원근 거리 지정 */
}

.reserve-store .medal .front, /* 다중 선택자*/
.reserve-store .medal .back {
    position: absolute;
    width: 334px;
    height: 334px;
    backface-visibility: hidden;
    /* 각각의 요소들이 뒤집어졌을 때, 뒷면은 화면에 보이지 않는다. (180deg 혹은 -180deg) */
    transition: 1s;
}

.reserve-store .medal .front {
    transform: rotateY(0deg);
}

.reserve-store .medal:hover .front {
    transform: rotateY(180deg);
}

.reserve-store .medal .back {
    transform: rotateY(-180deg);
}

.reserve-store .medal:hover .back {
    transform: rotateY(0deg);
}

.reserve-store .medal .back .btn {
    position: absolute;
    top: 240px;
    left: 0;
    right: 0;
    margin: auto; 
    /* btn의 가로너비가 위에 지정되어있어서 따로 설정할 필요가 없음. */
}


/* FIND STORE */
.find-store {
    background-image: url("../images/find_store_bg.jpg");
}

.finr-store .inner {
    height: 400px;
}

.find-store .texture1 {
    position: absolute;
    top: 0;
    left: 400px;
}

.find-store .texture2 {
    position: absolute;
    bottom: 0;
    right: 0;
}

.find-store .picture {
    position: absolute;
    border-radius: 50%;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, .5);
    /* x축, y축, blur, rgba 색상 및 불투명도 */
}

.find-store .picture1 {
    top: -60px;
    left: 0px;
}

.find-store .picture2 {
    top: 150px;
    left: 250px;
}

.find-store .text-group {
    position: absolute;
    top: 120px;
    left: 550px;
}

.find-store .text-group .title {
    margin-bottom: 20px;;
}

.find-store .text-group .description {
    margin-bottom: 20px;
}

